body {
    font-family: "Poppins", sans-serif;
    color: #a5a4a9;
    background-color: black;
}

hr {
    position: relative;
    top: 20px;
    border: none;
    height: 2px;
    background: rgb(255, 255, 255);
    margin-bottom: 80px;
}


/* Navbar styling */
.navbar{
    background-color:#e9e6e6d7;
}


/* Logo part */
.navbar-brand{
    margin-left: 20px;
}

/* Button part */
.navbar-toggler{
    margin-right: 20px;
}

.navbar-nav{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 200px;
}

.navbar:hover{
    background-color: #beb6b6d7;
}



/*  To enlarge the size of HOME link when hover */
.nav-link:hover{
    transform: scale(1.3);
    /* font-size: 20px; */
}

/* For smooth transition of hover on HOME link */
.nav-link{
    margin-right: 50px;
    transition: transform 1s;
} 

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    color:#ffbe00
}

/* Navbar styling ends */


/* FOOTER STYLING */


/* For all the contents inside footer */
footer{
    background-color: black; 
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 15px 15px 0px 0px;
}


/* For all the footer items */
.footer-item {
    margin-bottom: 30px;
}


/* For Quick link part inside footer */
.footer-item .footer-link h3 {
    color: #ffbe00;
    margin-bottom: 20px;
}


.footer-item .footer-link ul li {
    list-style-type: none;
    margin-bottom: 15px;
}


.footer-link ul li a {
    color: #ffffff;
    text-decoration: none;

}

/* Ends quick link part inside footer */




/* For Contact part inside footer */
.footer-item .footer-service h3 {
    color: #ffbe00;
    margin-bottom: 20px;
}


.footer-item .footer-service ul li {
    color: #ffffff;
    list-style-type: none;
    margin-bottom: 15px;
}

.footer-service ul li a {
    color: #ffffff;
    text-decoration: none;

}

.footer-service ul li img{
    background-color: #ffffff;

}

/* Footer styling ends */




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* # {
    box-sizing: border-box;
    padding: 0;
    margin:0;
} */



body{
    font-family:'Poppins',sans-serif ;
}


.banner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:white;
    padding-bottom: 20px;
}


.card-container{
    display: grid;
    grid-template-columns: 420px 420px;

}


/* .card-img{
    background: url("./LS.jpeg") center/cover no-repeat;
} */



.banner h2{
    padding-bottom: 40px;
    margin-bottom:20px;

}

h2{
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.card-content{
    background:rgb(178, 169, 169);
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: black;
    padding:25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;

}

form select,form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding:5px;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    outline:none;
    border-bottom: 1px solid white;
    font-weight: 300;
}
form input[type=text],form input[type=number],form input::placeholder,select
{
    color:rgb(252, 4, 4)
}
form input[type=submit]
{
    color: white;
    background: cornflowerblue;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type=submit]:hover
{
    opacity: 0.9;
}